.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.c-card {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 100%;
  margin-bottom: 3rem;

  @include break($bp-sm) {
    flex: 0 0 calc(50% - 1rem);
  }

  &:nth-of-type(odd) {
    @include break($bp-sm) {
      margin-right: 1rem;
    }
  }
}

.c-card__context {
  display: flex;
  flex-direction: column-reverse;
}

.c-card__image {
  order: -1;
  overflow: hidden;
  margin-bottom: 1.25rem;
  display: flex;

  img {
    width: 100%;
    transition: transform 0.2s ease-in;
  }

  &:hover {
    img {
      transform: scale(1.15);
    }
  }
}

.c-card__tags {
  margin-bottom: 0.35rem;
}

.c-card__tags-item {
  font-size: 0.75rem;
  position: relative;
  padding: 0 0.65rem;

  &:first-child {
    padding-left: 0;
  }

  &:not(:first-child) {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -0.125rem;
      transform: translateY(-50%);
      width: 0.25rem;
      height: 0.25rem;
      background-color: $c-text;
      border-radius: 2rem;
    }
  }
}
