.card-wrapper {
  display: flex;
  overflow-x: scroll;
}

.c-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 20rem;

  @include break(44rem) {
    margin-right: 1rem;
  }
}

.c-card__image {
  order: -1;

  img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

.c-card__tags {
}

.c-card__tags-item {
  margin-right: 0.7rem;
  //   padding: 0.5rem 1rem;
  //   border-radius: 1.5rem;
  //   background-color: aliceblue;
}
