//////////////////////////////////
// Header
//////////////////////////////////
.c-global-header {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  @include break($bp-sm) {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }

  &.is-open {
    .c-global-header__logo {
      @include break-max($bp-sm) {
        opacity: 0;
      }
    }
  }
}

.c-global-header__logo {
  width: 3rem;
  height: 3rem;

  @include break($bp-sm) {
    opacity: 0;
  }
}

.c-global-header__contact {
  display: flex;
  align-items: center;

  .c-global-header & {
    @include break-max($bp-sm) {
      display: none;
    }
  }
}

.c-global-header__contact__item {
  @include break($bp-sm) {
    margin-right: 1.5rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    transition: fill 0.2s $cubic;
  }

  &:hover {
    svg {
      fill: $c-hover;
    }
  }
}

//////////////////////////////////
// Header Mobile Modal
//////////////////////////////////

.modal-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 999999;

  @include break($bp-sm) {
    display: none;
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $c-text;
    transition: transform 0.2s $cubic;

    &--2 {
      margin-top: 0.5rem;
    }
  }

  &.is-open {
    .modal-toggle__line {
      &--1 {
        transform: rotate(-45deg);
      }

      &--2 {
        margin-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.mobile-header-modal {
  display: none;
  width: 100vw;
  height: 0;
  background-color: white;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;

  // To Do: figure out why this won't work
  transition: height 0.2s ease-in;

  &.is-open {
    display: block;
    height: 100vh;
  }

  @include break($bp-sm) {
    display: none;
  }

  .c-global-header__contact {
    flex-direction: column;
    height: 100%;
    padding: 7rem 0;
    justify-content: space-between;
    align-items: center;
  }

  .c-global-header__contact__item {
    &__icon {
      width: 3rem;
      height: 3rem;
    }
  }
}
