//////////////////////////////////
// Header
//////////////////////////////////
.c-global-header {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  @include break-max($bp-sm) {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.c-global-header__logo {
  width: 4rem;
  height: 4rem;
}

.c-global-header__contact {
  display: flex;
  align-items: center;

  @include break-max($bp-sm) {
    display: none;
  }
}

.c-global-header__contact__item {
  margin-right: 1.5rem;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    transition: fill 0.2s $cubic;
  }

  &:hover {
    svg {
      fill: $c-hover;
    }
  }
}

//////////////////////////////////
// Header Mobile Modal
//////////////////////////////////

.modal-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 999999;

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $c-text;
    transition: transform 0.2s $cubic;

    &:last-child {
      margin-top: 0.5rem;
    }

    .modal-toggle--is-open & {
      &:first-child {
        transform: rotate(-45deg);
      }

      &:last-child {
        margin-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.mobile-header-modal {
  width: 100vw;
  height: 0;
  background-color: white;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;

  &--is-open {
    height: 100vh;
  }

  @include break($bp-sm) {
    display: none;
  }

  .c-global-header__contact {
    flex-direction: column;
    height: 100%;
    padding: 7rem 0;
    justify-content: space-between;
    align-items: center;
  }

  .c-global-header__contact__item {
    &__icon {
      width: 3rem;
      height: 3rem;
    }
  }
}
