.c-section {
  height: 100vh;
  padding: 0 5rem;
  padding-top: 20%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-section:nth-of-type(1) {
  padding-left: 0;
}

.c-section + .c-section {
  position: relative;
  flex: 0 0 60%;
  padding-right: 0;

  &:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 60%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $c-purple--light;
  }
}

//////////////////////////////////
// Project Link Section
//////////////////////////////////
.project-wrapper {
  .project-thumb {
    position: absolute;
    width: 50%;
    top: 20%;
    right: 5rem;
    z-index: -1;

    > img {
      width: 100%;
    }
  }
}
