h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.f-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
}

.f-title--small {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.f-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.f-tag {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
}

.f-body {
  font-family: "Montserrat", sans-serif;
}
