.u-sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//////////////////////////////////
// Breakpoints
//////////////////////////////////
$bp-sm: 44rem;

@mixin break($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin break-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

//////////////////////////////////
// Animation
//////////////////////////////////
$cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
